@{
    ViewData["Title"] = "ManageProcess";
}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<center>
    <form id="login-form" method="post">
        <h3 class="titles">Administración de proceso</h3>
        <div class="form-group">
            <input type="number" name="id" id="id" class="form-control" placeholder="ID" readonly>
        </div>
        <div class="form-group">
            <input type="text" name="description" id="description" class="form-control" placeholder="Descripción" >
        </div>

        <div class="row justify-content-end">
            <div>
                <a class="btn btn-success" id="updatePlace" name="updatePlace" style="margin-right: 1px; display: none" onclick="updateProcess($('#id').val(),
                             $('#description').val())"> Modificar</a>
            </div>
            <div>
                <a class="btn btn-success" id="registerPlace" name="registerPlace"  style="display: inline" onclick="registerProcess($('#description').val())">Nuevo</a>
            </div>
            <div>
                <a class="btn btn-success" id="deletePlace" name="deletePlace" style="margin-right: 1px; display: none" onclick="deleteProcess($('#id').val())">Eliminar</a>
            </div>
            <div>
                <a class="btn btn-success" id="cleanPlace" name="cleanPlace" style="display: inline" onclick="cleanProcess()">Limpiar</a>
            </div>
        </div>
        <span id="messageSpanId"></span>
        <br />
        <br />

        <h5 class="titles">Lista de registros almacenados</h5>
        <br />

        <table id="tableID" class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CitasSAPSO.Models.CatalogueModels process in ViewBag.process)
                {
                    <tr>
                        <th> <a href="#" class="stretched-link " style="position: relative;">Seleccionar</a> </th>
                        <td>@process.ID</td>
                        <td>@process.Name</td>

                    </tr>
                }
            </tbody>
        </table>

    </form>

</center>

<div class="col-sm-3">
    @Html.ActionLink("Atrás", "DashboardAdministrator", "User", null, new { @class = "btn btn-success" })
</div>

<script>
    var letters = /^[A-Za-z+À-ú\s]+$/; 
    //limpia el formulario
    function cleanProcess() {
        document.getElementById("login-form").reset();
        $("#messageSpanId").html("");
        document.getElementById("deletePlace").style.display = "none";
        document.getElementById("updatePlace").style.display = "none";
        document.getElementById("registerPlace").style.display = "inline"; 
    }

    //obtener valores de los campos seleccionados de la tabla
    $("#tableID tr").click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        var id = $(this).find('td:first').html();
        var value = $(this).find('td:nth-child(2)');
        var description = value.next().text();
        $("#id").val(id);
        $("#description").val(description);
        document.getElementById("deletePlace").style.display = "inline";
        document.getElementById("updatePlace").style.display = "inline";
        document.getElementById("registerPlace").style.display = "none"; 
    });

    //metodos para llamados a modificar, agregar y borrar con ajax
    function updateProcess(id, description) {
        if (description.match(letters) == null) {
            $("#messageSpanId").html("*El campo Descripción es inválido");
            return;
        }
        var parameters = { "id": id, "description": description };
        $.ajax(
            {
                data: parameters,
                url: '/Catalogue/ModifyProcessAdministrator',
                type: 'post',
                beforeSend: function () {
                    $("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    if (response == "Exitoso") {
                        location.href = "/Catalogue/ManageProcessAdministrator";
                    } else {
                        $("#messageSpanId").html("No se pudo agregar");
                    }
                }
            }
        );
    }
    function registerProcess(description) {
        if (description.match(letters) == null) {
            $("#messageSpanId").html("*El campo Descripción es inválido");
            return;
        }
        var parameters = { "description": description };
        $.ajax(
            {
                data: parameters,
                url: '/Catalogue/RegisterProcessAdministrator',
                type: 'post',
                beforeSend: function () {
                    $("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    if (response == "Exitoso") {
                        location.href = "/Catalogue/ManageProcessAdministrator";
                    } else {
                        $("#messageSpanId").html(response);
                    }
                }
            }
        );
    }

    function deleteProcess(id) {
        var parameters = { "id": id };
        $.ajax(
            {
                data: parameters,
                url: '/Catalogue/DeleteProcessAdministrator',
                type: 'post',
                beforeSend: function () {
                    $("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    if (response == "Exitoso") {
                        location.href = "/Catalogue/ManageProcessAdministrator";
                    } else {
                        $("#messageSpanId").html("No se pudo agregar");
                    }
                }
            }
        );
    }
</script>