
@{
    ViewBag.Title = "ReportsView";
}

<div class="row">
    <div class="col">
        <canvas id="AppointmentQuantity"></canvas>
    </div>
    <div class="col">
        <canvas id="ProcessPercentage"></canvas>
    </div>
</div>

<div class="row">
    @Html.ActionLink("Atrás", "DashboardAdministrator", "User", null, new { @class = "btn btn-success" })
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
            appointments = "";
            window.onload = function () {
                $.ajax(
                    {
                        url: '/Catalogue/GetAppointmensQuantityFirstSemester',
                        type: 'post',
                        success: function (response) {
                            var appointmentChart = document.getElementById('AppointmentQuantity').getContext('2d');
                            var chart = new Chart(appointmentChart, {
                                // The type of chart we want to create
                                type: 'bar',

                                // The data for our dataset
                                data: {
                                    labels: ['Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                                    datasets: [{
                                        label: 'CItas Segundo Semestre',
                                        backgroundColor: ['rgba( 255, 255, 255, 1)',
                                            'rgba( 230, 134, 113, 1)',
                                            'rgba( 230, 207, 113, 1)',
                                            'rgba( 113, 230, 186, 1)',
                                            'rgba( 113, 154, 230, 1)',
                                            'rgba( 33, 199, 108, 1)',
                                            'rgba(  0, 135, 255, 1)'
                                        ],
                                        //borderColor: 'rgb(255, 99, 132)',
                                        data: response
                                    }]
                                },

                                // Configuration options go here
                                options: {
                                    responsive: true
                                }
                            });
                        }

                    }
                );
                $.ajax(
                    {
                        url: '/Catalogue/GetAppointmensQuantity',
                        type: 'post',
                        success: function (response) {
                            //GRAFICO PROCESOS
                            var processChart = document.getElementById('ProcessPercentage').getContext('2d');
                            var myDoughnutChart = new Chart(processChart, {
                                type: 'doughnut',
                                data: {
                                    labels: ['Clínico', 'Incidente', 'Armas', 'Charlas', 'Capitulo V'],
                                    datasets: [{
                                        label: 'Porcentaje por tipo de proceso',
                                        data: response,
                                        backgroundColor: ['rgba( 230, 207, 113, 1)',
                                            'rgba( 113, 230, 186, 1)',
                                            'rgba( 113, 154, 230, 1)',
                                            'rgba( 33, 199, 108, 1)',
                                            'rgba(  0, 135, 255, 1)'
                                        ]
                                    }]
                                },
                                options: {
                                    responsive: true
                                }
                            });
                            
                        }

                    }
                );
            }

</script>