@{
    ViewData["Title"] = "DateConfirmationHome";
}

<center>
    <h3 class="titles">Confirmación de cita</h3>
    <div class="row" style="text-align:center;">
        Se envió a su correo un formulario que debe presentar el día de la cita
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="timetable"></div>
        </div>

    </div>
    <div class="row">
        <!--Controlar con Sesión-->
        @if (Session["functionary"] != null)
        {
            @Html.ActionLink("Cerrar Sesión", "LogOut", "User", null, new { @class = "nav-link" })
        }
        else
        {
            @Html.ActionLink("Cerrar", "DashboardAdministrator", "User", null, new { @class = "btn btn-success btn-sm" })
        }


    </div>
</center>

<script type="text/javascript" src="~/Scripts/timetable.js"></script>

<script>
    var timetable = new Timetable();

    timetable.setScope(7, 18);
    //timetable.useTwelveHour();
    timetable.addLocations(['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado']);

    var renderer = new Timetable.Renderer(timetable);
    console.log('test');
    var appointment = @Html.Raw(Json.Encode(ViewBag.appointment));
    console.log(appointment);

    var formatDateInit = new Date(appointment.Date.substr(0, 10) + ' ' + appointment.Hour);
    var formatDateEnd = new Date(appointment.Date.substr(0, 10) + ' ' + appointment.Hour);
    var day = formatDateInit.toLocaleDateString('es-MX', { weekday: 'long' });
    hour = formatDateEnd.getHours() + 2;
    formatDateEnd.setHours(hour);


    timetable.addEvent('Su cita se a guardado de forma exitosa en este periodo', day, formatDateInit, formatDateEnd, null);
    renderer.draw('.timetable');


</script>