@{
    ViewData["Title"] = "DateConfirmationHome";
}

<center>
    <h3 class="titles">Confirmación de cita</h3>
    <div class="row" style="text-align:center;">
        Se envió a su correo un formulario que debe presentar el día de la cita
    </div>
    <div class="row">
        <div class="col-sm-11">
            @{Html.RenderPartial("WeekTableHome");}
        </div>

    </div>
    <div class="row">
        <!--Controlar con Sesión-->
        @if (Session["functionary"] != null)
        {
            @Html.ActionLink("Cerrar Sesión", "LogOut", "User", null, new { @class = "nav-link" })
        }
        else
        {
            @Html.ActionLink("Cerrar", "DashboardAdministrator", "User", null, new { @class = "btn btn-success btn-sm" })
        }


    </div>
</center>